<div class="row">
    <div class="col-md-1"></div>
    <div class= "col-md-10 ">
        <video width="1000" height="600" controls autoplay loop>
            <source src="/assets/Video/Investor-page.MP4" type="video/mp4">
          </video>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p >
             <iframe  class="excel-file"src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcsHWPZh6QVqdNynnIaSMgisDAKGldYkVE8mFeCGxjNrgR-IeH6yaw9POqQ5-zMg/pubhtml?gid=1516132698&amp;single=true&amp;widget=true&amp;headers=false">
             </iframe>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>