<div class="row background margin-top">
    <div class="col-md-5 text-position">
        <div ngbDropdown>
            <a href (click)="(false)" class="margin-left txt-clr-white" ngbDropdownToggle>
                Terms of Service
            </a>
            <a><app-privacy></app-privacy></a>
            <div ngbDropdownMenu class="drop-box" id="background">
                <div class="popup  color-tx-green">
                    <h3></h3>
                    <h2 class= "txt-clr-pink term-heading">Terms of Service</h2>
                    <h3></h3>
                    <p class= "txt-clr-white term-text">Please read these terms of service ("disclaimer") 
                        carefully before using [website] website (“website”, "service")
                        operated by[name] ("us", 'we", "our").
                        The content displayed on the website is the intellectual
                        property of the [name].You may not reuse, republish, or reprint 
                        such content without our written consent.
                        All information posted is merely for educational and 
                        informational purposes.It is not intended as a substitute for 
                        professional advice.</p>
                        <p></p>
                        <p class= "txt-clr-white term-text">Should you 
                        decide to act upon any information on this website, 
                        you do so at your own risk.
                        While the information on this website has been verified 
                        to the best of 
                        our abilities, we cannot guarantee that there are no 
                        mistakes or errors.
                        We reserve the right to change this policy at any given time, 
                        of which you will be promptly updated. If you want to make sure 
                        that you
                        are up to date with the latest changes, we advise you to
                         frequently visit
                        this page.
                    </p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <div class="col-md-4 txt-clr-white">
            <h3 class="text-position txt-clr-white" >Follow us</h3>
        </div>
        <img class="margin-left img" src="/assets/Images/facebook.jpg" alt="MainPage">
        <img class="margin-left img" src="/assets/Images/insta.jpg" alt="MainPage">
        <img class="margin-left img" src="/assets/Images/twiiter.jpg" alt="MainPage">
    </div>
</div>
<div class="row background bottom-padding">
    <span layout="row"><hr flex/></span>
</div>
<div class="row background bottom-padding">
    <div class ="col-md-5">
        <a class="margin-left copy-text txt-clr-white">© 2016-2020 VARA Platforms All Rights Reserved</a>
    </div>
    <div class ="col-md-5"></div>
    <div class ="col-md-2">
        <img class="margin-left store-img img" src="/assets/Images/app-store.png" alt="MainPage">
        <img class="margin-left store-img img" src="/assets/Images/2.png" alt="MainPage"> 
    </div>
</div>