.background{
    background-color:#191919;
}

.margin-top{
    margin-top: 30px;
    align-content: space-between;
}
.text-position{
    text-align: left;
    margin-top: 2rem;
}
.img {
    filter: grayscale(100);
    padding-top: 20px;
    width: 3rem;
}
.img:hover{
    filter: none;
}
.margin-left{
    margin-left: 1rem;
}
.bottom-padding{
    padding-bottom: 30px;
}
