<div class="row background margin-top">
    <div class="col-md-2 text-position">
        <a class="margin-left txt-clr-white"> Copyright</a>
        <a class="margin-left txt-clr-white" >Privacy</a>
        <a class="margin-left txt-clr-white">Terms</a>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
        <div class="col-md-4 txt-clr-white">
            <h3 class="text-position txt-clr-white" >Follow us</h3>
        </div>
        <img class="margin-left img" src="/assets/Images/facebook.jpg" alt="MainPage">
        <img class="margin-left img" src="/assets/Images/insta.jpg" alt="MainPage">
        <img class="margin-left img" src="/assets/Images/twiiter.jpg" alt="MainPage">
    </div>
</div>
<div class="row background bottom-padding">
    <div class="col-md-5 ">

    </div>
</div>
