<div class="row background margin-top">
    <div class="col-md-6"></div>
    <div class="col-md-2 white-clr">
        <h3 class="text-position" >Follow us</h3>
    </div>
    <div class="col-md-4 img ">
        <img class="margin-left" src="/assets/Images/facebook.jpg" alt="MainPage">
        <img class="margin-left" src="/assets/Images/insta.jpg" alt="MainPage">
        <img class="margin-left" src="/assets/Images/twiiter.jpg" alt="MainPage">
    </div>
</div>
<div class="row background bottom-padding">
    <div class="col-md-5 ">
        <a class="white-clr margin-left"> Copyright</a>
        <a class="white-clr margin-left" >Privacy</a>
        <a class="white-clr margin-left">Terms</a>
    </div>
</div>