<a ngbDropdown>
    <a href (click)="(false)" class="margin-left txt-clr-white" ngbDropdownToggle>
       Privacy
    </a>
    <div ngbDropdownMenu class="drop-box" id="background">
        <div class="popup  color-tx-green">
            <h3></h3>
            <h2 class= "txt-clr-pink term-heading">Disclaimer</h2>
            <h3></h3>
            <p class= "txt-clr-white term-text"></p>
                <p></p>
                <p class= "txt-clr-white term-text">
            </p>
        </div>
    </div>
</a>
