<a ngbDropdown>
    <a href (click)="(false)" class="margin-left txt-clr-black" ngbDropdownToggle>
       Privacy Notice
    </a>
    <div ngbDropdownMenu class="drop-box" id="background">
        <div class="popup  color-tx-green">
            <h3></h3>
            <h2 class= "txt-clr-pink term-heading">Privacy Notice</h2>
            <h3></h3>
            <p class= "txt-clr-black term-text">
                At VARA Platforms , we are committed to providing our customers with the
                 best experience possible.  We are letting 
                you know about recent updates to our Privacy Policy and our Terms of Service.
            </p>
                <p></p>
            <p class= "txt-clr-black term-text">
                We aim to always protect the privacy of our customers and to be as transparent
                as possible. To that end, we have updated our Privacy Policy to add more 
                information about how we collect and use your personal information.
            </p>
            <p></p>
            <p class= "txt-clr-black term-text">
               In addition, our Terms of Service have been updated to better reflect our
                 continuous product and company evolution, and to make them easier to read.
            </p>
            <p></p>
            <p class= "txt-clr-black term-text">
                lease take a look at our updated Privacy Policy and Terms of Service and 
                reach out to varaplatformtest@gmail.com.com if you have any questions.  
                The updated Privacy Policy and Terms of Service are effective as of November 1, 
                2020.
            </p>
            
        </div>
    </div>
</a>
