<div class="ui secondary  menu margin">
  <a routerLink="home" class="active item menutext">
    <img src="/assets/Images/vara_car.png"/>
  </a>
  <a routerLink="home" class="active item menutext">
  </a>
  <a routerLink="home" class="active item menutext">
  </a>
  <a routerLink="home" class="active item menutext">
  </a>
  <a routerLink="home" class="active item menutext">
    Home
  </a>
  <a routerLink="about-us" class="item menutext">
    About us
  </a>
  <a routerLink="team" class="item menutext">
    Team
  </a>
  <a routerLink="contact" class="item menutext">
    Contact
  </a>
  <a routerLink="tech-support" class="item menutext">
    Tech-Support
  </a>
  <div class="right menu">
    <!-- <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div> -->
    <a routerLink="login" class="ui item">
      Login
    </a>
  </div>
</div>