.ui.secondary.menu .item {
    color: #e72ebe;
    font-size: 20px;
}
.ui.secondary.menu .item :active{
    color:whitesmoke;
}
.ui.secondary.menu {
    background-color:#191919;
        margin-bottom: 30px;
}
