.background-clr {
    background-color: black;
}
.white-clr{
    color:whitesmoke;
}
.txt-clr-pink{
    color: #e72ebe
}
.txt-clr-blue{
    color: #03DAC5
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }