.background-clr {
    /* background-color: #191919; */
    background-color: whitesmoke;
}

.txt-clr-white {        /* The main white for the entire site */
    color:whitesmoke;
}

.txt-clr-pink {         /* The company shade of pink */
    color: #FF66C4
}

.txt-clr-blue {         /* Headlines & Main Titles - same as in app */
    color: #03DAC5
}

.txt-clr-black {
    color: #191919;   /* Text color on a white background */
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .vara-logo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* border-radius: 50px; */
 }
 /* Black & Pink with White Lettering */
 .btn-main {
    background:     #FF66C4;
    background:    linear-gradient(#191919, #FF66C4 50%, #191919);
    border:        1px solid #ffffff;
    border-radius: 25px;
    box-shadow:    1px 1px #ffffff;
    padding:       10px 25px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 20px/1 "Roboto", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #FF66C4;
 }