<div class="row">
    <div class="col-md-12">
        <h1 class="txt-clr-blue txt-alignment txt-heading">Sign-Up</h1>
    </div>
</div>
<form> 
        <div class="row margin-top">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label class="txt-clr-white padding-top txt-alignment txt-apperance" for="FirstName">First-Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="FirstName" #FirstName class="form-control" required autofocus /> 
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label class="txt-clr-white padding-top txt-alignment txt-apperance" for="LastName">Last-Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="LastName" #LastName class="form-control" required autofocus /> 
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label class="txt-clr-white padding-top txt-alignment txt-apperance" for="Email">Email</label>
            </div>
            <div class="col-md-4">
                <input type="Email" name="Email" #Email class="form-control" required autofocus /> 
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label class="txt-clr-white padding-top txt-alignment txt-apperance" for="Password">Password</label>
            </div>
            <div class="col-md-4">
                <input type="password" name="Password" #Password class="form-control" required autofocus /> 
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label class="txt-clr-white padding-top txt-alignment txt-apperance" for="PhoneNumber">Phone-Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="PhoneNumber" #PhoneNumber class="form-control" required autofocus /> 
            </div>
        </div>


        <div class="row margin-top">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label class="txt-clr-white padding-top txt-alignment txt-apperance" for="city">City</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="city" #city class="form-control" required autofocus /> 
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-7"></div>
            <div class="col-md-2 btn-alignment">
                <button type="submit" class="ui secondary button"
                (click)="authService.register(FirstName.value, LastName.value, PhoneNumber.value,
                city.value, Email.value, Password.value)">
                    Sign-Up
                </button>
            </div>
        </div>
    </form>

<div class="row">
    <app-footer></app-footer>
</div>
fname:string, lname:string, phone:string,city:string, email: string, password: string)