<div class="row">
    <div class="col-md-11">
        <h1 class="txt-clr-blue"> WE'VE BUILT OUR BUSINESS BY HELPING OTHERS GROW THEIRS.</h1>
        
        <h3 class="white-clr">
            Our focus has always been on working with great people building
            even better products. If you have something in the pipeline
            that is motivating you to get into the office early and leave late,
            let’s chat
        </h3>
        <p>
            391 BANK STREET, OTTAWA, ON
            613 422-3183
            TEAM@BILLINGHAMAGENCY.COM
        </p>
    </div>
</div>
