<div class="row">
    <div><H1></H1></div>
    <div class="col-md-11">
        <h1 class="txt-clr-blue"> WE'VE BUILT OUR BUSINESS BY HELPING OTHERS GROW THEIRS.</h1>
        <h3 class="txt-clr-black">
            Our focus has always been on working with great people building
            even better products. If you have something in the pipeline
            that is motivating you to get into the office early and leave late,
            let’s chat
        </h3>
    </div>
</div>
<div class="row top-margin">
    <div class="col-md-6">
        <agm-map [latitude]="latitude" [longitude] ="longitude"></agm-map>
    </div>
    <div class="col-md-1"></div>
    <div class ="col-md-5">
        <h3>
            <table class="txt-clr-black">
                <tr>
                    <td class="txt-clr-blue">Phone:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td> (819) 700-0474</td>
                </tr>
                <tr>
                    <td class="txt-clr-blue">Email:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td> varaplatformtest@gmail.com</td>
                </tr>
                <tr>
                    <td class="txt-clr-blue">Local
                        : </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td> Ottawa, Ontario</td>
                </tr>
            </table>
        </h3>
    </div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
