<div class="row">
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
            data-holder-rendered="true">
            <h2 class="txt-clr-blue alignment">Dr. Thomas SmithAssaly</h2>
            <h3 class="txt-clr-pink alignment neg-margin">President & CEO</h3>
            <p class="txt-clr-white profile-txt-size">I'm an business leader with over 40 years of
                 business / management experience who is passionate about People, Teams, Innovation,
                  and cutting-edge technology. My experience spans the Hospitality & Hotel industry,
                  the real estate Fix & Flip business and Specialty Retail. My experience also includes
                  software programing especially in project management and development in today's modern
                  IT environments. I'm have my doctorate in
                 Engineering Psychology & most recently a graduate in mobile software development.
                </p>
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="/assets/Images/Gervan.png"
            data-holder-rendered="true">
            <h2 class="txt-clr-blue alignment">Gervan Nantel </h2>
            <h3 class="txt-clr-pink alignment neg-margin">Senior Vice-President & COO</h3>
            <p class="txt-clr-white profile-txt-size">I'm an engaged leader with over 25 years of 
                business / management experience who is passionate about People, Teams, Innovation,
                 Quality and Growth. My experience spans many business functions, including agile 
                 methodology, project management and development in today's modern IT environments. 
                 I'm a certified ScrumMaster,  a designated CFTL (Certified Foundational Tester
                  Level)
                 & most recently a graduate in mobile software development
            </p>
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="/assets/Images/lalaantika.jpg"
            data-holder-rendered="true">
            <h2 class="txt-clr-blue alignment">Lalaantika Sharma</h2>
            <h3 class="txt-clr-pink alignment neg-margin">Vice-President of Development</h3>
            <p class="txt-clr-white profile-txt-size">A Master’s degree holder in Computer science and Engineering with 
                extensive skills in Software and Mobile Application Development and experience
                 in creation of websites and user interface projects. Possesses the right 
                 combination of technical knowledge, enthusiasm for software development,
                 willingness to learn and excel in a Application Developer position.
            </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
            data-holder-rendered="true">
        <h2 class="txt-clr-blue alignment">abc</h2>
        <h3 class="txt-clr-pink alignment neg-margin">Vice-President of Finance & CFO</h3>
        <p class="txt-clr-white profile-txt-size">A computer master’s degree holder in Computer science and Engineering with 
            extensive skills in Software and Mobile Application Development with experience
             in creation of websites and user interface projects. Possesses the right 
             combination of technical knowledge, enthusiasm for software development,
             willingness to learn and excel in a Junior Application Developer position.
        </p>
        
    </div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
