.rounded-circle{
    border-radius: 50%;
}
.margin-top{
    margin-top: 20px;;
}
.alignment{
    text-align: center;
}
.top-margin{
    margin-top: 3rem;
}
.neg-margin{
    margin-top: -.5rem;
}
.profile-txt-size{
    font-size: 1.25rem;
    text-align: justify;
}