<div class="row">
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="/assets/Images/team1.jpg"
            data-holder-rendered="true">
            <h2 class="txt-clr-blue alignment">Dr. Thomas SmithAssaly</h2>
            <h3 class="txt-clr-pink alignment neg-margin">President & CEO</h3>
            <p class="txt-clr-white profile-txt-size">I'm an business leader with over 40 
                years of business & management experience who is passionate about People, 
                Teams, Innovation, and cutting-edge technology. My experience spans from 
                time in the Hospitality/Hotel industries, Real Estate Fix & Flip businesses
                and Specialty Retail. Areas of current interest include modern IT 
                environments, software programming, development and project management.
                Having earned a doctorate in Engineering Psychology & most recently in 
                mobile software development, I have patented (pending) the VARA Platforms
                system & methodology.
            </p>
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="/assets/Images/Gervan.png"
            data-holder-rendered="true">
            <h2 class="txt-clr-blue alignment">Gervan Nantel </h2>
            <h3 class="txt-clr-pink alignment neg-margin">Senior Vice-President & COO</h3>
            <p class="txt-clr-white profile-txt-size">I'm an engaged leader with over 25 years of 
                business / management experience who is passionate about People, Teams, Innovation,
                 Quality and Growth. My experience spans many business functions, including agile 
                 methodology, project management and development in today's modern IT environments. 
                 I'm a certified ScrumMaster,  a designated CFTL (Certified Foundational Tester
                  Level)
                 & most recently a graduate in mobile software development
            </p>
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="/assets/Images/lalaantika.jpg"
            data-holder-rendered="true">
            <h2 class="txt-clr-blue alignment">Lalaantika Sharma</h2>
            <h3 class="txt-clr-pink alignment neg-margin">Vice-President of Development</h3>
            <p class="txt-clr-white profile-txt-size">A Master’s degree holder in Computer science and 
                Engineering with extensive skills in Software and Mobile Application Development. 
                Experienced in the creation of websites and user interface projects, possessing the 
                right combination of technical knowledge & enthusiasm for  development projects. With
                a willingness to learn, excel and grow at leading and guiding the future development path .
            </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 top-margin">
        <img class="rounded-circle" src="/assets/Images/team4.jpg"
            data-holder-rendered="true">
        <h2 class="txt-clr-blue alignment">Lekecia Smith-Assaly</h2>
        <h3 class="txt-clr-pink alignment neg-margin">Vice-President of Finance & CFO</h3>
        <p class="txt-clr-white profile-txt-size">I'm the CFO with over 10 years of experience 
            in my field. I have created and implemented financial policies to guarantee 
            operational efficiency for 3 major companies I've maintained & recorded 
            receipts for all daily transactions. I have monitered all bank deposits and 
            documented changes. I have also performed financial analysis to rearrange and
             resolve any problems before it become an issue.
        </p>
        
    </div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
