<div class="row">
    <div class="col-md-3">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
            data-holder-rendered="true">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
            data-holder-rendered="true">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
            data-holder-rendered="true">
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-3">
        <h2 class="txt-clr-blue alignment">Dr. Thomas SmithAssaly</h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h2 class="txt-clr-blue alignment">Gervan Nantel </h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
            <h2 class="txt-clr-blue alignment">Lalaantika Sharma</h2>
    </div>

</div>

