<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3 class="txt-clr-white about-text">
            VARA Platforms is a new Media company started in Silicon 
            Valley North by 3 entrepreneurs who saw a need to change
            the overwrought advertising space. That's 
            why VARA Platforms is dedicated to dissemination of promotional
            media through electronic formats attached to vehicles
            in the ride share space, as well as in commercial
            transportation. 
        </h3>
        <h3 class="txt-clr-white about-text">These promotional platforms reward the viewer,
            as well as the vehicleowner(s) for their participation in this 
            medium. Rewards include direct cash earnings and special discounts
            to various vendors. VARA Platforms is dedicated to changing how 
            promotional media is broadcast, always keeping in mind that your
            time is valuable and needs to include compensation for taking
            time to participate.
        </h3>
        <h3 class="txt-clr-white about-text"> Our mission includes hopefully 
                changing the media industry in the future, so that everyone
                benefits and revenues are not concentrated in the hands of a 
                few but are enjoyed by all who participate.
        </h3>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1></h1>
        <img src="/assets/Images/logo_black.gif">
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>