<div class=" container background-clr overflow-hidden">
  <div class="row"> 
    <div class="span4"></div>
    <div class="span4"><img class="center-block" src="/assets/Images/vara_name.png"/></div>
    <div class="span4"></div>
  </div>
  <div class="row">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="row"> 
    <div class="span4"></div>
    <div class="span4"><img class="center-block" src="/assets/Images/vara_tagline.png"/></div>
    <div class="span4"></div>
  </div>
    <router-outlet></router-outlet>
</div>