<div class="row">
    
    <div class=" col-md-7 txt-clr-blue welcome-text">
       <h2>Welcome!</h2>
        <h2>This service is brought to you on behalf of your driver</h2>
        <ul class="txt-clr-white">
            <li class="welcome-space">It keeps fares down and boosts your driver's per-ride earnings</li>
            <li class="welcome-space">Vara offers promotional discounts and savings opportunities</li>
            <li class="welcome-space">Businesses make this possible, your participation supports those businesses</li>
            <li class="welcome-space">Thank You for your participation, the VARA team</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <!-- image -->
    </div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
