<div class="row">
    <h2 class="txt-clr-blue welcome-text">
        Welcome!This service is brought to you on behalf of your driver
        <ul>
            <li>It keeps fares down and boosts your driver\'s per-ride earnings</li> 
            <li>It keeps fares down and boosts your driver\'s per-ride earnings</li>
            <li>Vara offers promotional discounts and savings opportunities</li>
            <li>Businesses make this possible, your participation supports those businesses</li>
            <li>Thank You for your participation, the VARA team</li>
        </ul>
    </h2>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
