<div class="row">
    <div class="col-md-12">
        <h4></h4>
        <h1 class="txt-clr-blue txt-alignment txt-heading">Log-In</h1>
        <h4></h4>
    </div>
</div>
<form>
    <div class="row margin-top">
        <div class="col-md-3"></div>
        <div class="col-md-1">
            <label class="txt-clr-pink txt-alignment padding-top txt-apperance" for="email">Email</label>
        </div>
        <div class="col-md-4">
            <input name="email" type="email" #email class="form-control" required autofocus/>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-3"></div>
        <div class="col-md-1">
            <label class="txt-clr-pink padding-top txt-alignment txt-apperance" for="Password">Password</label>
        </div>
        <div class="col-md-4">
            <input type="password" name="password" #password class="form-control" required autofocus /> 
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <h3></h3>
            <button class="btn-main" [routerLink]="['/sign-up']" routerLinkActive="router-link-active">
               Sign-Up
            </button>
        </div>
        <div class='col-md-1'></div>
        <div class="col-md-3 btn-alignment ">
            <h3></h3>
            <button type="submit" class="btn-main"(click)="authService.login(email.value, password.value)"
            (click)="reload()">
                Log-In
            </button>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <p></p>
            <a class="txt-clr-blue pwd-reset" [routerLink]="['/sign-up']" routerLinkActive="router-link-active">
               Forgot Your Password
            </a>
        </div>
    </div>
</form>
<div class="row">
    <app-footer></app-footer>
</div>