.txt-alignment{
    text-align: center;
}
.txt-heading{
    font-size: 32px;
}
.txt-apperance{
    font-size: 20px;
}
.margin-top{
    margin-top: 30px;
}
.ui.secondary.button{
    margin: 50px 0 50px 0;
    background-color: #e72ebe;
    height: 45px;
    width: 125px;
    font-size: 1.25rem;
    font-weight: 800;
}
.padding-top{
    padding-top: 8px;
}

.btn-alignment {
   margin-left: 3rem;
}